body {

margin: 0;
background: black;
color: white;

font-family: "Space Grotesk", sans-serif;

}



/* ---------- top bar ---------- */

.topbar {

display: flex;
justify-content: space-between;

padding: 20px 40px;

font-size: 14px;
opacity: 0.6;

}



/* ---------- hero ---------- */

.hero {

padding: 120px 80px;

}

.small {

font-size: 14px;
opacity: 0.6;

}

h1 {

font-size: 100px;
line-height: 1.05;
font-weight: 600;

}

.credit {

font-family: "IBM Plex Sans", sans-serif;

font-weight: 200;

font-size: 14px;

opacity: 0.6;

}



/* ---------- menu ---------- */

.menu {

padding: 150px 80px;

}

.menu h2 {

font-size: 140px;

margin: 0;

opacity: 0.2;

transition: 0.3s;

cursor: pointer;

font-weight: 500;

}

.menu h2:hover {

opacity: 1;
transform: translateX(40px);

}



/* ---------- text sections ---------- */

.concept,
.about {

padding: 60px 80px;

max-width: 900px;

}


/* thin font for wiki text */

.concept p,
.about p {

font-family: "IBM Plex Sans", sans-serif;

font-weight: 200;

font-size: 18px;

line-height: 1.8;

letter-spacing: 0.4px;

opacity: 0.85;

}



/* section titles */

h3 {

font-size: 36px;

font-weight: 400;

margin-bottom: 10px;

}
/* ---------- ideology section ---------- */


.ideology {

padding: 120px 80px 80px 80px;

position: relative;

overflow: hidden;

}



.ideology-title {

position: relative;

margin-bottom: 80px;

padding-top: 60px;

}



/* big ghost word */

.title-bg {

position: absolute;

top: 0;
left: 0;

font-size: 140px;

font-weight: 700;

opacity: 0.05;

white-space: nowrap;

pointer-events: none;

}



/* main title */

.title-main {

display: block;

font-size: 80px;

font-weight: 600;

letter-spacing: 2px;

margin-top: 40px;

}



/* subtitle */

.title-sub {

display: block;

font-family: "IBM Plex Sans", sans-serif;

font-weight: 200;

font-size: 14px;

opacity: 0.6;

margin-top: 10px;

letter-spacing: 2px;

}



/* giant background word */

.bg-word {

position: absolute;

top: 55%;

left: 0;

font-size: 240px;

font-weight: 700;

opacity: 0.03;

white-space: nowrap;

pointer-events: none;

transform: translateY(-50%);

}



/* list */

.ideology-list {

display: flex;
flex-direction: column;

gap: 30px;

margin-top: 40px;

position: relative;

z-index: 2;

}



/* each item */

.idea {

transition: 0.3s;

padding-top: 10px;

border-top: 1px solid rgba(255,255,255,0.08);

}



.idea h3 {

font-size: 60px;

margin: 0;

opacity: 0.3;

transition: 0.3s;

}



.idea p {

font-family: "IBM Plex Sans", sans-serif;

font-weight: 200;

opacity: 0;

margin-top: 5px;

transition: 0.3s;

}



/* hover sauce */

.idea:hover h3 {

opacity: 1;

transform: translateX(20px);

}


.idea:hover p {

opacity: 0.85;

}
